$mainColor: #ff4077;
$fontColor:  #1e1e1e;
$checkColor: #2070ee;
$footerBack: #fafafa;
$footerColor: #686868;
$footerBold: #202020;
$footerLogo: #9b9b9b;
$FontColor404: #b7b7b7;
$headerColor: #979797;
$headerHover: #1e1e1e;
