@import '../styles/colors';

.App {
  display: flex;
  flex-direction: row;
}

.rainy{
  background-color: $alertHumid;
}
.dust{
  background-color: $alertDust;
}
.temp{
  background-color: $alertTemp;
}
